@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table table-striped">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Title</th>
        </thead>
    </table>
</div>
