@page
@model BooksModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table table-striped">
        <thead>
            <th scope="col">#</th>
            <th scope="col" style="text-align: left">Author(s)</th>
            <th scope="col" style="text-align: left">Title</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var (book, ordinal) in Model.Books.Select((book, index) => (book, index + 1)))
            {
                <tr>
                    <td>@ordinal</td>
                    <td style="text-align: left">@string.Join(", ", book.Authors.Select(person => $"{person.FirstName} {person.LastName}"))</td>
                    <td style="text-align: left">@book.Title</td>
                    <td><a class="btn btn-primary" href="/books/@book.Id">View</a></td>
                </tr>
            }
    </table>
</div>
