@page
@model InvoicesModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>Issued to</th>
            <th>Issue date</th>
            <th>Due date</th>
            <th>Paid date</th>
            <th>Total amount</th>
        </thead>
    </table>
</div>